
/* ############################# */
/*              Reset            */
/* ############################# */
* {
    box-sizing: border-box;
}
html, body {
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
h1, h2, p, ul {
    margin-top: 1em;
    margin-bottom: 1em;
}
img {
    display: block;
}


/* ############################# */
/*              Main             */
/* ############################# */
:root {
    --color-text: #131313;
    --color-text-light: #7B7B7B;
    --color-cta: #009966;

    --font-main: 'Open Sans', sans-serif;
    --font-secondary: 'Lato', sans-serif;
}
body {
    font-family: var(--font-main);
    font-size: 16px;
    color: var(--color-text);
}
section {
    position: relative;
    display: flex;
    justify-content: center;
}
section .wrapper {
    position: relative;
    width: 100%;
    max-width: 1107px;
    margin: 0 15px;
}
.hidden {
    display: none!important;
}
.input-error,
.input-error::placeholder {
    border-color: #FF0000 !important;
    color: #FF0000 !important;
}
.predefined {
    pointer-events: none !important;
    background-color: #eaeaea !important;
}
section.fill-place {
    min-height: calc(100vh - 404px);
}

/* ############################# */
/*              Nav              */
/* ############################# */
header {
    font-family: var(--font-secondary);
    height: 90px;
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    display: flex;
    justify-content: center;
}
header nav {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    margin-left: 73px;
}
header .logo img {
    width: 185px;
    height: 55px;
}
header ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-right: 80px;
}
header li {
    margin-left: 59px;
}
header li a {
    text-decoration: none;
    color: var(--color-text);
}
header li.login a {
    display: flex;
}
header li.get-quote a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background: var(--color-cta);
    border-radius: 7px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.03em;
}
header .burger {
    display: none;
}


/* ############################# */
/*            Footer             */
/* ############################# */
.chatbot {
    height: 804px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.chatbot .bg {
    position: absolute;
    z-index: -1;
}
.chatbot .bg .status,
.chatbot .bg .type {
    opacity: 0;
    transition: .2s;
}
.chatbot .bg[data-type="cloud"][data-status="ok"] .status.ok,
.chatbot .bg[data-type="cloud"][data-status="question"] .status.question,
.chatbot .bg[data-type="cloud"][data-status="wrong"] .status.wrong,
.chatbot .bg[data-type="cloud"] .type.cloud,
.chatbot .bg[data-type="text"] .type.text {
    opacity: 1;
}
.chatbot h1 {
    text-align: center;
    color: white;
    font-size: 48px;
    margin-top: 45px;
    margin-bottom: 0;
}
.chatbot > p {
    font-family: var(--font-secondary);
    text-align: center;
    font-size: 16.2px;
    line-height: 1.5;
    margin-top: 18px;
}
.chatbot .chat-wrapper {
    margin-top: 41px;
}
.chatbot .text {
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 8%);
    border-radius: 7px;
    width: 100%;
    max-width: 590px;
    min-height: 196px;
    padding: 30px 44px 37px;
}
.chatbot .text p {
    font-size: 16px;
    text-align: center;
    padding: 0 60px;
}
.chatbot .text a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: var(--color-cta);
    border-radius: 7px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 0.03em;
    margin-top: 19px;
    transition: .2s;
}
.chatbot .text a:hover {
    filter: brightness(0.8);
}
.chatbot .chat {
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 8%);
    border-radius: 7px;
    width: 100%;
    max-width: 470px;
    min-height: 516px;
    padding: 30px 20px 20px;
}
.chatbot .chat .screen {
    background: #F6F6F6;
    box-shadow: inset 0px 0px 15px rgb(0 0 0 / 3%);
    border-radius: 7px;
    height: 320px;
    overflow-y: scroll;
    padding: 26px;
}
.chatbot .chat .bot {
    display: flex;
    margin-bottom: 20px;
}
.chatbot .chat .bot p,
.chatbot .chat .person p {
    background: white;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 5%);
    margin: 0;
    margin-left: 22px;
    border-radius: 7px;
    font-size: 14px;
    padding: 14px 21px;
    line-height: 1.5;
    position: relative;
}
.chatbot .chat .bot p::before {
    content: '◀';
    position: absolute;
    left: -10px;
    color: white;
}
.chatbot .chat .person {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}
.chatbot .chat .person p {
    margin: 0;
    margin-right: 22px;
}
.chatbot .chat .person p::before {
    content: '▶';
    position: absolute;
    right: -10px;
    color: white;
}
.chatbot .chat textarea {
    font-family: var(--font-secondary);
    font-size: 16px;
    background: #F6F6F6;
    box-shadow: inset 0px 0px 15px rgb(0 0 0 / 3%);
    border-radius: 7px;
    border: unset;
    margin-top: 24px;
    height: 60px;
    width: 100%;
    color: var(--color-text-light);
    padding: 10px 20px;
    resize: vertical;
}
.chatbot .chat .submit {
    background: var(--color-cta);
    display: flex;
    margin-top: 7px;
    border-radius: 7px;
    height: 50px;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
}
.chatbot .chat .answers-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: 72px;
}
.chatbot .chat .answers-wrapper span {
    background: var(--color-cta);
    margin-right: 10px;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 7px;
    margin-bottom: 10px;
}


/* ############################# */
/*            Footer             */
/* ############################# */
footer {
    position: relative;
    height: 270px;
    margin-top: 44px;
    display: flex;
    justify-content: center;
}
footer .bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
footer .wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    margin: 0 15px;
    margin-top: 109px;
}
footer ul {
    flex: 1;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    margin-top: 58px;
}
footer li {
    margin-right: 67px;
}
footer li a {
    color: white;
    text-decoration: none;
}
footer .center {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .socials {
    display: flex;
    margin-top: 11px;
}
footer .socials a {
    margin: 0 14px;
}
footer .copyright {
    color: white;
    font-size: 12px;
    letter-spacing: 0.02rem;
    margin-top: 20px;
}
footer .right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
footer .right a {
    background: white;
    margin-top: 42px;
    width: 274px;
    height: 50px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-cta);
    text-decoration: none;
    font-weight: bold;
    font-family: var(--font-secondary);
    font-size: 18px;
    letter-spacing: 0.03rem;
}



/* ############################# */
/*        Responsiveness         */
/* ############################# */
@media screen and (max-width: 1440px) {
    .chatbot .bg {
        width: 100%;
        top: 0;
        height: auto;
    }
} 

@media screen and (max-width: 1300px) {
    .chatbot .text {
        max-width: 530px;
    }
} 

@media screen and (max-width: 1150px) {
    .chatbot .text {
        max-width: 470px;
    }
} 

@media screen and (max-width: 1024px) {
    header .logo {
        margin-left: 20px;
    }
    header ul {
        margin-right: 20px;
    }
    header li {
        margin-left: 30px;
    }
    footer li {
        margin-right: 0;
        margin-bottom: 13px;
        margin-left: 30px;
    }
}

@media screen and (max-width: 998px) {
    .chatbot .bg[data-type="text"] .type.text {
        opacity: 0;
    }
} 

@media screen and (max-width: 768px) {
    header ul {
        position: fixed;
        background: rgba(255,255,255,0.9);
        width: 100%;
        height: 0;
        padding-top: 0;
        z-index: 9998;
        top: 0;
        border-radius: 7px;
        flex-direction: column;
        overflow: hidden;
        transition: .2s;
    }
    header ul.active {
        height: 55vh;
        padding-top: 60px;
    }
    header li {
        margin: 12px 0;
    }
    header li a {
        font-size: 21px;
    }
    header .burger {
        display: block;
        position: absolute;
        height: 90px;
        width: 90px;
        right: 30px;
        cursor: pointer;
        z-index: 9999;
    }
    header .burger::after,
    header .burger::before {
        content: '';
        background: var(--color-cta);
        position: absolute;
        height: 5px;
        width: 50px;
        border-radius: 110px;
        left: 20px;
        transition: .2s;
    }
    header .burger::after {
        top: 35px;
    }
    header .burger::before {
        top: 53px;
    }
    header ul.active ~ .burger::after {
        transform: rotate(-45deg);
        top: 40px;
    }
    header ul.active ~ .burger::before {
        transform: rotate(45deg);
        top: 40px;
    }
    .chatbot {
        background: linear-gradient(180deg, #00c2ff, #00c2ff, #00c2ff, transparent);
    }
    .chatbot .bg {
        display: none;
    }
    footer {
        height: auto;
    }
    footer .wrapper {
        flex-direction: column;
        align-items: center;
    }
    footer li {
        margin: 0 30px;
    }
    footer ul {
        margin-bottom: 30px;
    }
    footer .right a {
        margin-bottom: 50px;
    }
}

