
/* ############################# */
/*              Reset            */
/* ############################# */
* {
    box-sizing: border-box;
}
html, body {
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
h1, h2, p, ul {
    margin-top: 1em;
    margin-bottom: 1em;
}
img {
    display: block;
}


/* ############################# */
/*              Main             */
/* ############################# */
:root {
    --color-text: #131313;
    --color-text-light: #7B7B7B;
    --color-cta: #009966;

    --font-main: 'Open Sans', sans-serif;
    --font-secondary: 'Lato', sans-serif;
}
body {
    font-family: var(--font-main);
    font-size: 16px;
    color: var(--color-text);
}
section {
    position: relative;
    display: flex;
    justify-content: center;
}
section .wrapper {
    position: relative;
    width: 100%;
    max-width: 1107px;
    margin: 0 15px;
}
.hidden {
    display: none!important;
}
.input-error,
.input-error::placeholder {
    border-color: #FF0000 !important;
    color: #FF0000 !important;
}
.predefined {
    pointer-events: none !important;
    background-color: #eaeaea !important;
}


/* ############################# */
/*      Fancy slider buttons     */
/* ############################# */
.fancy-buttons {
    position: absolute;
    width: 850px;
    left: calc((100vw - 850px) / 2);
    top: 100px;
}
.fancy-buttons button {
    position: absolute;
    border: 0;
    height: 40px;
    width: 30px;
    top: 0;
    cursor: pointer;
    background-color: transparent;
    transition: .2s;
}
.fancy-buttons button.disabled {
    display: none;
}
.fancy-buttons button:hover {
    filter: brightness(1.3);
}
.fancy-buttons button::after,
.fancy-buttons button::before {
    content: '';
    background: var(--color-cta);
    height: 16px;
    width: 3px;
    display: block;
    position: absolute;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}
.fancy-buttons button::after {
    transform: rotate(135deg);
    top: 15px;
    left: 12px;
}
.fancy-buttons button::before {
    transform: rotate(45deg);
    top: 6px;
    left: 12px;
}
.fancy-buttons button.prev {
    left: 65px;
}
.fancy-buttons button.next {
    right: 65px;
    transform: rotate(180deg);
}


/* ############################# */
/*              Nav              */
/* ############################# */
header {
    font-family: var(--font-secondary);
    height: 90px;
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    display: flex;
    justify-content: center;
}
header nav {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    margin-left: 73px;
}
header .logo img {
    width: 185px;
    height: 55px;
}
header ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-right: 80px;
}
header li {
    margin-left: 59px;
}
header li a {
    text-decoration: none;
    color: var(--color-text);
}
header li.login a {
    display: flex;
}
header li.get-quote a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background: var(--color-cta);
    border-radius: 7px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.03em;
}
header .burger {
    display: none;
}


/* ############################# */
/*            Home form          */
/* ############################# */
.home-form {
    background: white;
    display: inline-flex;
    flex-direction: column;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    border-radius: 7px;
    width: 454px;
    height: 402px;
    padding: 0 42px;
}
.home-form h2 {
    font-size: 18px;
    margin-top: 36px;
    margin-bottom: 5px;
}
.home-form input,
.home-form .select-group .screen {
    height: 50px;
    width: 100%;
    border-radius: 7px;
    border: 2px solid #eaeaea;
    margin-top: 20px;
    padding: 0 25px;
    font-size: 14px;
    color: var(--color-text-light);
}
.home-form input[type=submit] {
    font-family: var(--font-secondary);
    margin-top: 35px;
    background-color: var(--color-cta);
    height: 50px;
    color: white;
    font-size: 18px;
    letter-spacing: 0.04rem;
    cursor: pointer;
    transition: .2s;
    border: 0;
}
.home-form input[type=submit]:hover {
    filter: brightness(0.8);
}
.home-form .select-group select {
    display: none;
}
.home-form .select-group .pretty-select {
    position: relative;
}
.home-form .select-group .screen {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.home-form .select-group .screen:after {
    content: '▼';
    font-size: 9px;
    position: absolute;
    right: 17px;
    transition: .2s;
}
.home-form .select-group.active .screen:after {
    transform: rotate(180deg);
}
.home-form .select-group .options {
    overflow: hidden;
    transition: .2s;
    background: white;
    position: absolute;
    z-index: 1;
    width: 100%;
    border-radius: 7px;
    top: 56px;
}
.home-form .select-group.active .options {
    border: 2px solid #eaeaea;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
}
.home-form .select-group .options div {
    height: 0px;
    display: flex;
    align-items: center;
    padding: 0 25px;
    font-size: 14px;
    color: var(--color-text-light);
    transition: .2s;
    cursor: pointer;
    opacity: 0;
}
.home-form .select-group .options div b,
.home-form .select-group .screen b {
    margin-right: 5px;
}
.home-form .select-group.active .options div {
    height: 40px;
    opacity: 1;
}
.home-form .select-group.active .options div:hover {
    padding-left: 30px;
}
.home-form .select-group.active .options div:not(:last-of-type) {
    border-bottom: 2px solid #eaeaea;
}


/* ############################# */
/*              Hero             */
/* ############################# */
.hero {
    height: 810px;
    background: #00C2FF;
    overflow: hidden;
}
.hero .wrapper {
    z-index: 1;
}
.hero .man-with-car {
    position: absolute;
    top: -98px;
    right: -256px;
    z-index: -1;
}
.hero h1 {
    color: white;
    font-size: 48px;
    margin-top: 87px;
    line-height: 1.3;
    margin-bottom: 0;
}
.hero p {
    font-family: var(--font-secondary);
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 19px;
}


/* ############################# */
/*            As seen            */
/* ############################# */
.as-seen {
    min-height: 320px;
    overflow: hidden;
}
.as-seen .bg {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 100%;
    z-index: -1;
}
.as-seen h2 {
    text-align: center;
    font-size: 36px;
    margin-top: 48px;
    margin-bottom: 0;
}
.as-seen .icons {
    display: flex;
    justify-content: space-between;
    padding: 0 110px;
    margin-top: 40px;
    align-items: center;
}
.as-seen .icons img {
    opacity: 0.5;
}


/* ############################# */
/* Easy To Use/We charge/Big fans*/
/* ############################# */
.easy-to-use .wrapper {
    display: flex;
    margin-top: 79px;
}
.easy-to-use .left {
    flex: 0 52.8%;
}
.easy-to-use .left img {
    transform: translateX(-23px);
}
.easy-to-use .right {
    flex: 0 47.2%;
}
.easy-to-use h2,
.we-charge h2,
.big-fans h2 {
    color: var(--color-cta);
    font-size: 36px;
    margin-top: 111px;
    line-height: 1.31;
    margin-bottom: 15px;
}
.easy-to-use .subtitle,
.we-charge .subtitle,
.big-fans .subtitle {
    font-family: var(--font-secondary);
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.2px;
}
.easy-to-use p,
.we-charge p,
.big-fans p {
    max-width: 440px;
    margin-top: 31px;
    line-height: 1.5;
}
.we-charge {
    margin-top: 110px;
}
.we-charge .bg,
.big-fans .bg {
    position: absolute;
    height: 883px;
    width: 100%;
    z-index: -1;
}
.we-charge .wrapper,
.big-fans .wrapper {
    display: flex;
    margin-top: 150px;
}
.we-charge .left,
.we-charge .right,
.big-fans .left,
.big-fans .right {
    flex: 1;
}
.we-charge h2,
.big-fans h2 {
    margin-top: 64px;
}
.we-charge .right img {
    transform: translateX(65px);
}
.big-fans {
    margin-top: 88px;
}
.big-fans .bg {
    height: 989px;
}
.big-fans .wrapper {
    margin-top: 180px;
}
.big-fans .right img {
    margin-top: 62px;
    transform: translateX(46px);
}


/* ############################# */
/*            Reviews            */
/* ############################# */
.reviews {
    margin-top: 99px;
}
.reviews .wrapper {
    max-width: 100%;
}
.reviews .slider {
    width: 100%;
}
.reviews .slider .slide {
    display: flex;
}
.reviews .slider .card{
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    border-radius: 7px;
    max-width: 820px;
    width: 100%;
    margin: 15px;
    min-height: 208px;
    display: flex;
    flex-direction: column;
    padding: 0 162px;
    justify-content: center;
}
.reviews .slider p {
    line-height: 1.5;
    margin-top: 30px;
}
.reviews .slider .role {
    font-size: 23px;
    font-weight: bold;
    font-style: italic;
    text-transform: capitalize;
    text-align: right;
    margin-right: 14px;
}


/* ############################# */
/*            New Kind           */
/* ############################# */
.new-kind h2 {
    color: var(--color-cta);
    text-align: center;
    font-size: 36px;
    margin-top: 97px;
}
.new-kind .cards {
    display: flex;
    justify-content: space-between;
}
.new-kind .card {
    display: flex;
    flex-direction: column;
}
.new-kind img {
    margin: 0 39px;
}
.new-kind .green {
    position: relative;
    background: var(--color-cta);
    border-radius: 7px;
    margin-top: 39px;
    width: 350px;
    min-height: 160px;
    padding: 25px 32px;
}
.new-kind .green:before {
    content: '▲';
    color: var(--color-cta);
    position: absolute;
    font-size: 44px;
    top: -39px;
    transform: scaleY(0.53);
}
.new-kind h3 {
    font-size: 36px;
    color: white;
    margin: 0;
}
.new-kind p {
    color: white;
    margin-bottom: 0;
    margin-top: 9px;
    line-height: 1.51;
}
.new-kind .chain-wrapper {
    position: absolute;
    width: 100%;
    max-width: 1440px;
    top: 258px;
    z-index: -1;
    overflow: hidden;
}
.new-kind .chain {
    width: 100%;
    margin: 0;
}
.new-kind .shadow {
    position: absolute;
    top: -100px;
    bottom: -100px;
    left: 0;
    right: 0;
    box-shadow: inset 0 0 60px 50px white;
}
.new-kind .left {
    margin-top: 124px;
    align-items: flex-start;
}
.new-kind .center {
    margin-top: 20px;
    align-items: center;
}
.new-kind .right {
    margin-top: 85px;
    align-items: flex-end;
}
.new-kind .left .green:before {
    left: 73px;
}
.new-kind .center .green:before {
    left: 153px;
}
.new-kind .right .green:before {
    right: 73px;
}


/* ############################# */
/*          Trustpilot           */
/* ############################# */
.trustpilot {
    margin-top: 140px;
}
.trustpilot .wrapper {
    display: flex;
}
.trustpilot .col {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.trustpilot .card {
    width: 341px;
    min-height: 274px;
    background: white;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    border-radius: 7px;
    padding: 40px;
}
.trustpilot .left {
    justify-content: flex-start;
}
.trustpilot .right {
    justify-content: flex-end;
}
.trustpilot .left .card {
    margin-top: 31px;
}
.trustpilot .right .card {
    margin-top: 81px;
}
.trustpilot .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.trustpilot .photo {
    height: 60px;
    width: 60px;
}
.trustpilot .stars {
    display: flex;
}
.trustpilot .stars img {
    margin-left: 1px;
}
.trustpilot .author {
    font-size: 13px;
}
.trustpilot .content {
    font-size: 14px;
    font-family: var(--font-secondary);
    color: var(--color-text-light);
    letter-spacing: 0.03em;
    margin-left: 1px;
    margin-top: 16px;
    line-height: 1.3;
    max-width: 250px;
    margin-bottom: 0;
}


/* ############################# */
/*             Team              */
/* ############################# */
.team .wrapper {
    max-width: 100%;
}
.team h2 {
    text-align: center;
    color: var(--color-cta);
    font-size: 36px;
    margin-top: 112px;
    margin-bottom: 0;
}
.team h3 {
    margin: 0;
    text-align: center;
    font-size: 18px;
    font-family: var(--font-secondary);
    letter-spacing: 0.02rem;
    margin-top: 14px;
}
.team .slider {
    margin-top: 23px;
}
.team .slide {
    display: flex;
    justify-content: center;
}
.team .card-wrapper {
    max-width: 1107px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px;
}
.team .card {
    flex: 0 30.8%;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgb(19 19 19 / 15%);
    border-radius: 10px;
    padding: 28px 30px;
    padding-bottom: 12px;
    margin-bottom: 40px;
}
.team .card.transparent {
    box-shadow: none;
}
.team .top {
    display: flex;
}
.team img {
    height: 60px;
    width: 60px;
}
.team h4 {
    margin: 11px 0 0 19px;
    font-size: 19px;
    line-height: 1;
}
.team .role {
    font-family: var(--font-secondary);
    font-size: 14px;
    line-height: 1.9;
    margin: 0 19px;
    letter-spacing: 0.03rem;
}
.team p {
    font-family: var(--font-secondary);
    color: var(--color-text-light);
    font-size: 15px;
}
.team .buttons {
    top: 418px;
    width: 1424px;
    left: calc((100vw - 1424px) / 2);
}
.team .buttons button {
    transform: scale(1.6);
}
.team .buttons .next {
    transform: scale(1.6) rotate(180deg);
}
.team .all {
    display: none;
    justify-content: center;
    margin-top: 23px;
}
.team .all.active {
    display: flex;
}
.team .all-button-wrapper,
.faq .button-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}
.team .show-all,
.faq .load-more {
    background: var(--color-cta);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
    height: 50px;
    width: 100%;
    max-width: 430px;
    border-radius: 7px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}


/* ############################# */
/*              FAQ              */
/* ############################# */
.faq .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.faq h2 {
    color: var(--color-cta);
    font-size: 36px;
    margin: 0;
    margin-top: 89px;
}
.faq .qas {
    margin-top: 28px;
    padding: 0 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 39px;
}
.faq .qa {
    position: relative;
    max-width: 851px;
    width: 100%;
    min-height: 80px;
    background: #F6F6F6;
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 27px 46px;
}
.faq .qa::after,
.faq .qa::before {
    content: '';
    background: var(--color-cta);
    height: 16px;
    width: 3px;
    display: block;
    position: absolute;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    transition: .2s;
}
.faq .qa::after {
    transform: rotate(-45deg);
    top: 30px;
    right: 62px;
}
.faq .qa::before {
    transform: rotate(45deg);
    top: 30px;
    right: 52px;
}
.faq .qa.active::after {
    transform: rotate(-135deg);
}
.faq .qa.active::before {
    transform: rotate(135deg);
}
.faq .q {
    position: relative;
    font-size: 18px;
    font-weight: bold;
    color: var(--color-text-light);
    cursor: pointer;
    z-index: 1;
    transition: .2s;
}
.faq .q:hover {
    padding-left: 10px;
}
.faq .a {
    height: 0;
    overflow: hidden;
    transition: .2s;
}
.faq .qa.active .a {
    height: auto;
    margin-top: 23px;
    max-width: 597px;
}


/* ############################# */
/*          Footer form          */
/* ############################# */
.footer-form {
    margin-top: 90px;
}
.footer-form .bg {
    position: absolute;
    height: 778px;
    width: 100%;
    z-index: -1;
}
.footer-form .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-form .wrapper > h2 {
    color: white;
    font-size: 36px;
    margin-top: 72px;
    margin-bottom: 0;
}
.footer-form .subtitle {
    font-size: 18px;
    font-weight: bold;
    font-family: var(--font-secondary);
    margin-top: 14px;
    margin-bottom: 46px;
}


/* ############################# */
/*            Footer             */
/* ############################# */
footer {
    position: relative;
    height: 270px;
    margin-top: 44px;
    display: flex;
    justify-content: center;
}
footer .bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
footer .wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    margin: 0 15px;
    margin-top: 109px;
}
footer ul {
    flex: 1;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    margin-top: 58px;
}
footer li {
    margin-right: 67px;
}
footer li a {
    color: white;
    text-decoration: none;
}
footer .center {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .socials {
    display: flex;
    margin-top: 11px;
}
footer .socials a {
    margin: 0 14px;
}
footer .copyright {
    color: white;
    font-size: 12px;
    letter-spacing: 0.02rem;
    margin-top: 20px;
}
footer .right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
footer .right a {
    background: white;
    margin-top: 42px;
    width: 274px;
    height: 50px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-cta);
    text-decoration: none;
    font-weight: bold;
    font-family: var(--font-secondary);
    font-size: 18px;
    letter-spacing: 0.03rem;
}



/* ############################# */
/*        Responsiveness         */
/* ############################# */
@media screen and (max-width: 1424px) {
    .team .buttons {
        width: 100%;
        left: 0;
    }
}

@media screen and (max-width: 1200px) {
    .team .buttons .prev {
        left: 20px;
    }
    .team .buttons .next {
        right: 20px;
    }
    .we-charge .right img,
    .big-fans .right img,
    .easy-to-use .left img {
        transform: none;
    }
    .new-kind .green,
    .trustpilot .card {
        width: 320px;
    }
}

@media screen and (max-width: 1024px) {
    header .logo {
        margin-left: 20px;
    }
    header ul {
        margin-right: 20px;
    }
    header li {
        margin-left: 30px;
    }
    .hero .man-with-car {
        top: 0;
        right: -200px;
        width: 640px;
    }
    .easy-to-use .left,
    .easy-to-use .right,
    .we-charge .left, 
    .we-charge .right, 
    .big-fans .left, 
    .big-fans .right {
        flex: 0 50%;
    }
    .we-charge .right img, 
    .big-fans .right img, 
    .easy-to-use .left img {
        width: 100%
    }
    .new-kind .cards,
    .trustpilot .wrapper {
        flex-wrap: wrap;
    }
    .new-kind .card {
        margin-top: 0;
        align-items: center;
        margin-bottom: 40px;
    }
    .new-kind .col {
        flex: 0 50%;
    }
    .new-kind .chain-wrapper {
        display: none;
    }
    .new-kind .card .green:before {
        left: calc( 50% - 21px);
    }
    .trustpilot .col {
        flex: 0 50%;
        justify-content: center;
    }
    .trustpilot .col .card {
        margin-top: 0;
        margin-bottom: 40px;
    }
    .reviews {
        overflow: hidden;
    }
    /* footer ul {
        flex-direction: column;
        margin-top: 26px;
    } */
    footer li {
        margin-right: 0;
        margin-bottom: 13px;
        margin-left: 30px;
    }
}


@media screen and (max-width: 768px) {
    header ul {
        position: fixed;
        background: rgba(255,255,255,0.9);
        width: 100%;
        height: 0;
        padding-top: 0;
        z-index: 9998;
        top: 0;
        border-radius: 7px;
        flex-direction: column;
        overflow: hidden;
        transition: .2s;
    }
    header ul.active {
        height: 55vh;
        padding-top: 60px;
    }
    header li {
        margin: 12px 0;
    }
    header li a {
        font-size: 21px;
    }
    header .burger {
        display: block;
        position: absolute;
        height: 90px;
        width: 90px;
        right: 30px;
        cursor: pointer;
        z-index: 9999;
    }
    header .burger::after,
    header .burger::before {
        content: '';
        background: var(--color-cta);
        position: absolute;
        height: 5px;
        width: 50px;
        border-radius: 110px;
        left: 20px;
        transition: .2s;
    }
    header .burger::after {
        top: 35px;
    }
    header .burger::before {
        top: 53px;
    }
    header ul.active ~ .burger::after {
        transform: rotate(-45deg);
        top: 40px;
    }
    header ul.active ~ .burger::before {
        transform: rotate(45deg);
        top: 40px;
    }
    .hero .man-with-car {
        top: -98px;
        right: -256px;
        width: auto;
    }
    .as-seen {
        padding-bottom: 70px;
    }
    .as-seen .icons {
        flex-wrap: wrap;
    }
    .as-seen .icons img {
        margin-bottom: 20px;
    }
    .easy-to-use .wrapper {
        flex-direction: column;
        align-items: center;
    }
    .we-charge .wrapper, 
    .big-fans .wrapper {
        flex-direction: column-reverse;
        align-items: center;
    }
    .we-charge, 
    .big-fans {
        padding-bottom: 140px;
    }
    .we-charge .bg, 
    .big-fans .bg {
        height: 100%;
    }
    .new-kind .col,
    .trustpilot .col {
        flex: 0 100%;
    }
    .new-kind .green, 
    .trustpilot .card {
        width: 100%;
        max-width: 400px;
    }
    .team .card {
        flex: 0 48%;
    }
    .big-fans .wrapper {
        margin-top: 90px;
    }
    footer {
        height: auto;
    }
    footer .wrapper {
        flex-direction: column;
        align-items: center;
    }
    footer li {
        margin: 0 30px;
    }
    footer ul {
        margin-bottom: 30px;
    }
    footer .right a {
        margin-bottom: 50px;
    }
    .fancy-buttons {
        width: 100%;
        left: 0;
    }
    .reviews .slider .card {
        padding: 0 50px;
    }
    .fancy-buttons button.prev {
        left: 30px;
    }
    .fancy-buttons button.next {
        right: 30px;
    }    
    .trustpilot .author,
    .trustpilot .content {
        font-size: 16px;
    }
    .team p {
        font-size: 16px;
        line-height: 1.3;
    }
}

@media screen and (max-width: 485px) {
    .home-form {
        width: 100%;
    }
    .hero .man-with-car,
    .team .buttons {
        display: none;
    }
    .as-seen .icons {
        justify-content: center;
    }
    .as-seen .icons img {
        margin-bottom: 30px;
    }
    .team .show-all, 
    .faq .load-more {
        margin: 0 15px;
    }
    .team .card {
        flex: 0 100%;
    }
}
